docs/n8n/admin-quote-email-webhook.workflow.json
{
  "name": "DONEOVERNIGHT — Admin Quote Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-quote-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0b74b79a-4658-4f68-ae2e-63ddce2f2b31",
      "name": "Webhook — Admin Quote Email",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        520,
        420
      ],
      "webhookId": "admin-quote-email"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json || {};\nconst payload = source.body || source;\n\nfunction clean(value) {\n  return value === undefined || value === null ? \"\" : String(value).trim();\n}\n\nconst taskId = clean(payload.task_id || payload.taskId || payload.task_reference || payload.reference_id);\nconst clientEmail = clean(payload.client_email || payload.email || payload.to).toLowerCase();\nconst clientName = clean(payload.client_name || payload.name) || \"there\";\nconst quoteAmount = clean(payload.quote_amount);\nconst deliveryEta = clean(payload.delivery_eta);\nconst quoteNote = clean(payload.quote_note || payload.note || payload.scope);\nconst paymentLink = clean(payload.payment_link);\nconst secureReviewUrl = clean(payload.secure_review_url || payload.client_review_url || payload.review_url);\nconst sourceLabel = clean(payload.source) || \"admin_quote\";\nconst ctaUrl = clean(payload.cta_url || payload.primary_cta_url) || secureReviewUrl || paymentLink;\nconst subject = clean(payload.subject) || \"DONEOVERNIGHT — Execution plan ready\";\nconst html = clean(payload.html);\nconst text = clean(payload.text);\n\nreturn [{\n  json: {\n    task_id: taskId,\n    client_email: clientEmail,\n    client_name: clientName,\n    quote_amount: quoteAmount,\n    delivery_eta: deliveryEta,\n    quote_note: quoteNote,\n    payment_link: paymentLink,\n    secure_review_url: secureReviewUrl,\n    source: sourceLabel,\n    cta_url: ctaUrl,\n    subject,\n    html,\n    text,\n    should_send: Boolean(clientEmail && clientEmail.includes(\"@\") && html),\n    provider: \"n8n_outlook\"\n  }\n}];"
      },
      "id": "6d6bdf50-d7d5-4eda-bbfa-a078987034ef",
      "name": "Normalize Quote Email Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_send }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "4679d9f8-92a5-4053-8f29-77274e166ea1",
      "name": "Has Client Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        420
      ]
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.client_email }}",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.html }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "id": "1240711d-dc77-47e8-a2d0-9804e2437411",
      "name": "Email — Client Quote",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1240,
        320
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "uN91YqqKRfL3GaJp",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, delivered: true, provider: \"n8n_outlook\", task_id: $(\"Normalize Quote Email Payload\").item.json.task_id } }}",
        "options": {}
      },
      "id": "c0e9afe6-51ca-46e1-b98f-7aa3da2c07a5",
      "name": "Respond — Quote Email Sent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1480,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, delivered: false, provider: \"n8n_outlook\", reason: \"missing_client_email\", task_id: $(\"Normalize Quote Email Payload\").item.json.task_id } }}",
        "options": {}
      },
      "id": "514dc744-a1a1-49d3-aa25-7395beb0e85d",
      "name": "Respond — Quote Email Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1240,
        560
      ]
    }
  ],
  "connections": {
    "Webhook — Admin Quote Email": {
      "main": [
        [
          {
            "node": "Normalize Quote Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Quote Email Payload": {
      "main": [
        [
          {
            "node": "Has Client Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Client Email?": {
      "main": [
        [
          {
            "node": "Email — Client Quote",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond — Quote Email Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email — Client Quote": {
      "main": [
        [
          {
            "node": "Respond — Quote Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "versionId": "doneovernight-admin-quote-email-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
